{
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
